rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }

    match /users/{docId} {
      allow read: if true;
      allow update: if isOwner(docId);

      match /immutable/{immutableId} {
        allow update: if false;
      }
    }

    match /books/{docId} {
      allow read;
      allow write: if isSignedIn();
      allow delete: if false;
    }
  }
}
