rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    function isUnderMB(mb) {
      return request.resource.size < mb * 1024 * 1024
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /users/{userId}/{docId} {
      allow read: if true;
      allow write: if isOwner(userId)
                   && isImage()
                   && isUnderMB(5);
    }
  }
}
